<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Image uploaded!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Image uploaded!">
    <meta property="og:site_name" content="Ponjo Studios">
    <meta property="og:description" content="You uploaded your image successfully.">
    <meta property="og:image:url" content="https://app.ponjo.club/images/Logo.png">
    <meta property="og:image:secure_url" content="https://app.ponjo.club/images/Logo.png">
    <meta name="theme-color" content="#ad4fe8">
    <meta name="keywords" content="ben petrillo, petrillo, ponjo api, ponjo studios, elixir music bot, ben petrillo portfolio, ben petrillo github">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="icon" href="https://raw.githubusercontent.com/Eerie6560/Archives/main/images/icons/Crescent-Logo.png" type="img/png">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
<div class="body-wrap">
    <h2 class="site-header text-center">Awesome!</h2>
    <main>
        <section class="section-paragraph text-center cta mb-0">
            <div class="container">
                <p class="text-sm mb-0 text-center">
                    Your image was uploaded successfully.
                </p>
            </div>
            <section class="section-paragraph text-center cta mb-0">
                <div class="container section-inner">
                    <h4 class="mt-0 text-center" style="font-size: 30px;">View it below:</h4><br>
                    <p class="text-sm mb-0 text-center">
                        UUID: <%= imageId %> <br>
                        Raw: <a class="ponjo-url" href="https://app.ponjo.club/<%= imageId %>.png">https://app.ponjo.club/<%= imageId %>.png</a> <br>
                        Embed: <a class="ponjo-url" href="https://app.ponjo.club/uploads/<%= imageId %>">https://app.ponjo.club/uploads/<%= imageId %></a> <br>
                        Uploaded: <%= date %> <br><br>
                        Want to upload another image? <a class="ponjo-url" href="https://app.ponjo.club/hosting">Click here</a>.
                    </p>
                </div>
            </section>
            <section class="features section">
                <div class="container">
                    <img src="https://app.ponjo.club/<%= imageId %>.png" alt="">
                </div>
            </section>
        </section>
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="site-footer-inner">
                <div class="brand footer-brand">
                    <a href="">
                        <img src="/images/Logo.png" alt="" width="40" height="40">
                    </a>
                </div>
                <ul class="footer-links list-reset">
                    <li>
                        <a href="https://docs.ponjo.club/ponjo-api/guide">Guide</a>
                    </li>
                    <li>
                        <a href="https://docs.ponjo.club">Documentation</a>
                    </li>
                    <li>
                        <a href="https://app.ponjo.club/endpoints">Endpoints</a>
                    </li>
                    <li>
                        <a href="https://ponjo.club/discord">Support</a>
                    </li>
                </ul>
                <ul class="footer-social-links list-reset">
                    <li>
                        <a href="https://ponjo.club/discord">
                            <span class="screen-reader-text">Discord</span>
                            <i class="fab fa-discord" style="color: #0270D7; font-size: 18px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Eerie6560">
                            <span class="screen-reader-text">Twitter</span>
                            <i class="fab fa-twitter" style="color: #0270D7; font-size: 18px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://docs.ponjo.club">
                            <span class="screen-reader-text">Documentation</span>
                            <i class="fas fa-bookmark" style="color: #0270D7; font-size: 18px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:benpetrillo@ponjo.club">
                            <span class="screen-reader-text">Contact</span>
                            <i class="fas fa-paper-plane" style="color: #0270D7; font-size: 18px"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">
                    &copy; 2021 Ponjo Studios. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="js/Main.js"></script>
</body>
</html>